<h2>Albums</h2>
<div id="albums-container" class="content-container">
    <% if object.length > 0 %>
    <% object.each do |album| %>
        <%= link_to album_path(album) do %>
        <div class="content-container-item">
            <h3><%= album.name %></h3>
            <p><%= album.category %></p>
            <p><%= album.release_date %></p>
        </div>
        <% end %>
    <% end %>
    <% else %>
        <% if logged_in_creator? %>
            <p>Create or add your first album!</p>
        <% elsif logged_in_user? %>
            <p>No released albums</p>
        <% end %>
    <% end %>
</div>