<h2>Podcasts</h2>
<div id="podcasts-container" class="content-container">
    <% if object.length > 0 %>
    <% object.each do |podcast| %>
        <div class="content-container-item">
            <h3><%= podcast.name %></h3>
            <p><%= podcast.category %></p>
            <p>Released: <%= podcast.release_date %></p>
        </div>
    <% end %>
    <% else %>
        <% if logged_in_creator? %>
            <p>Create or add your first podcast!</p>
        <% elsif logged_in_user? %>
            <p>No released podcasts</p>
        <% end %>
    <% end %>
</div>