<h1>Logged In - Creator Home Page</h1>
<%= render partial: 'layouts/content/singles', locals: {object: @singles} %>
<%= render partial: 'layouts/content/albums', locals: {object: @albums} %>
<%= render partial: 'layouts/content/podcasts', locals: {object: @podcasts} %>

