<div id="album-show-container">
    <div id="album-show-container-header">
        <h3>Album Name: <%= @album.name %></h3>
        <% if logged_in_creator? %>
            <%= link_to 'Edit Album', "/albums/#{@album.id}/edit" %>
        <% end %>
    </div>
    <div id="album-show-container-songs">
        <h4>All Songs</h4>
        <% @album.songs.each do |song|%>
        
        <div class="album-show-container-song-item">
            <p><%= song.name %></p>
        </div>
        <% end %>
        <% if logged_in_creator? %>
            <%= link_to 'Add Song to Album', new_album_song_path(@album) %>
        <% end %>
    </div>
</div>