<h1>Album Show Page</h1>

<ul>
    <li>Album Name: <%= @album.name %></li>
    <li>Category: <%= @album.category %></li>
    <li>Release Date: <%= @album.release_date %></li>
</ul>

<%= link_to 'Add Song to Album', new_album_song_path(@album) %>

