<div id="discover-container" class="application-container-home-section">
    <h2>Discover</h2>
    <div id="discover-container-content">
        <div class="discover-container-content-item">
        </div>
        <div class="discover-container-content-item">
        </div>
        <div class="discover-container-content-item">
        </div>
        <div class="discover-container-content-item">
        </div>
        <div class="discover-container-content-item">
        </div>
    </div>
</div>