<div id="featured-container" class="application-container-home-section">
    <h2>Featured Artists</h2>
    <div id="featured-container-content">
        <div class="featured-container-content-item">
            <img src="https://www.dogtime.com/assets/uploads/2018/10/puppies-cover.jpg">
            <div class="featured-container-content-item-text">
                <p class="featured-container-content-item-title">Brandon Hartford</p>
                <p class="featured-container-content-item-song-count">345 songs</p>
            </div>
        </div>
        <div class="featured-container-content-item">
            <img src="https://www.dogtime.com/assets/uploads/2018/10/puppies-cover.jpg">
            <div class="featured-container-content-item-text">
                <p class="featured-container-content-item-title">Rya Goya</p>
                <p class="featured-container-content-item-song-count">246 songs</p>
            </div>
        </div>
        <div class="featured-container-content-item">
            <img src="https://www.dogtime.com/assets/uploads/2018/10/puppies-cover.jpg">
            <div class="featured-container-content-item-text">
                <p class="featured-container-content-item-title">Dakota Reager</p>
                <p class="featured-container-content-item-song-count">173 songs</p>
            </div>
        </div>
        <div class="featured-container-content-item">
            <img src="https://www.dogtime.com/assets/uploads/2018/10/puppies-cover.jpg">
            <div class="featured-container-content-item-text">
                <p class="featured-container-content-item-title">Kurtis Hunte</p>
                <p class="featured-container-content-item-song-count">286 songs</p>
            </div>
        </div>
        <div class="featured-container-content-item">
            <img src="https://www.dogtime.com/assets/uploads/2018/10/puppies-cover.jpg">
            <div class="featured-container-content-item-text">
                <p class="featured-container-content-item-title">Luke Billings</p>
                <p class="featured-container-content-item-song-count">239 songs</p>
            </div>
        </div>
        <div class="featured-container-content-item">
            <img src="https://www.dogtime.com/assets/uploads/2018/10/puppies-cover.jpg">
            <div class="featured-container-content-item-text">
                <p class="featured-container-content-item-title">Danielle Sievert</p>
                <p class="featured-container-content-item-song-count">124 songs</p>
            </div>
        </div>
        <div class="featured-container-content-item">
            <img src="https://www.dogtime.com/assets/uploads/2018/10/puppies-cover.jpg">
            <div class="featured-container-content-item-text">
                <p class="featured-container-content-item-title">Gerard Cohen</p>
                <p class="featured-container-content-item-song-count">24 songs</p>
            </div>
        </div>
    </div>
</div>