<div id="podcasts-container" class="application-container-home-section">
    <h2>Podcasts</h2>
    <div id="podcasts-container-content">
        <div class="podcasts-container-content-item">
        </div>
        <div class="podcasts-container-content-item">
        </div>
        <div class="podcasts-container-content-item">
        </div>
        <div class="podcasts-container-content-item">
        </div>
        <div class="podcasts-container-content-item">
        </div>
        <div class="podcasts-container-content-item">
        </div>
        <div class="podcasts-container-content-item">
        </div>
        <div class="podcasts-container-content-item">
        </div>
        <div class="podcasts-container-content-item">
        </div>
        <div class="podcasts-container-content-item">
        </div>
    </div>
</div>