<div id="recents-container" class="application-container-home-section">
    <h2>Recent Albums</h2>
    <div id="recents-container-content">
        <div class="recents-container-content-item">
            <div class="recents-container-content-item-info"></div>
        </div>
        <div class="recents-container-content-item">
            <div class="recents-container-content-item-info"></div>
        </div>
        <div class="recents-container-content-item">
            <div class="recents-container-content-item-info"></div>
        </div>
        <div class="recents-container-content-item">
            <div class="recents-container-content-item-info"></div>
        </div>
        <div class="recents-container-content-item">
            <div class="recents-container-content-item-info"></div>
        </div>
    </div>
</div>