<div id="recommended-container" class="application-container-home-section">
    <h2>Recommended</h2>
    <div id="recommended-container-content">
        <div class="recommended-container-content-item">
        </div>
        <div class="recommended-container-content-item">
        </div>
        <div class="recommended-container-content-item">
        </div>
        <div class="recommended-container-content-item">
        </div>
    </div>
</div>