<div id="topsongs-container" class="application-container-home-section">
    <h2>Top 10 Songs</h2>
    <div id="topsongs-container-content">
        <div class="topsongs-container-content-item">
            <img src="https://www.dogtime.com/assets/uploads/2018/10/puppies-cover.jpg">
            <p class="topsongs-container-content-item-title">High Hopes</p>
            <p class="topsongs-container-content-item-duration">2:20</p>
        </div>
        <div class="topsongs-container-content-item">
            <img src="https://www.dogtime.com/assets/uploads/2018/10/puppies-cover.jpg">
            <p class="topsongs-container-content-item-title">High Hopes</p>
            <p class="topsongs-container-content-item-duration">2:20</p>
        </div>
        <div class="topsongs-container-content-item">
            <img src="https://www.dogtime.com/assets/uploads/2018/10/puppies-cover.jpg">
            <p class="topsongs-container-content-item-title">High Hopes</p>
            <p class="topsongs-container-content-item-duration">2:20</p>
        </div>
        <div class="topsongs-container-content-item">
            <img src="https://www.dogtime.com/assets/uploads/2018/10/puppies-cover.jpg">
            <p class="topsongs-container-content-item-title">High Hopes</p>
            <p class="topsongs-container-content-item-duration">2:20</p>
        </div>
        <div class="topsongs-container-content-item">
            <img src="https://www.dogtime.com/assets/uploads/2018/10/puppies-cover.jpg">
            <p class="topsongs-container-content-item-title">High Hopes</p>
            <p class="topsongs-container-content-item-duration">2:20</p>
        </div>
        <div class="topsongs-container-content-item">
            <img src="https://www.dogtime.com/assets/uploads/2018/10/puppies-cover.jpg">
            <p class="topsongs-container-content-item-title">High Hopes</p>
            <p class="topsongs-container-content-item-duration">2:20</p>
        </div>
        <div class="topsongs-container-content-item">
            <img src="https://www.dogtime.com/assets/uploads/2018/10/puppies-cover.jpg">
            <p class="topsongs-container-content-item-title">High Hopes</p>
            <p class="topsongs-container-content-item-duration">2:20</p>
        </div>
        <div class="topsongs-container-content-item">
            <img src="https://www.dogtime.com/assets/uploads/2018/10/puppies-cover.jpg">
            <p class="topsongs-container-content-item-title">High Hopes</p>
            <p class="topsongs-container-content-item-duration">2:20</p>
        </div>
        <div class="topsongs-container-content-item">
            <img src="https://www.dogtime.com/assets/uploads/2018/10/puppies-cover.jpg">
            <p class="topsongs-container-content-item-title">High Hopes</p>
            <p class="topsongs-container-content-item-duration">2:20</p>
        </div>
        <div class="topsongs-container-content-item">
            <img src="https://www.dogtime.com/assets/uploads/2018/10/puppies-cover.jpg">
            <p class="topsongs-container-content-item-title">High Hopes</p>
            <p class="topsongs-container-content-item-duration">2:20</p>
        </div>
    </div>
</div>