<div id="top-playlists-container" class="application-container-home-section">
    <h2>Top Playlists</h2>
    <div id="top-playlists-container-content">
        <div class="top-playlists-container-content-item">
        </div>
        <div class="top-playlists-container-content-item">
        </div>
        <div class="top-playlists-container-content-item">
        </div>
        <div class="top-playlists-container-content-item">
        </div>
        <div class="top-playlists-container-content-item">
        </div>
        <div class="top-playlists-container-content-item">
        </div>
        <div class="top-playlists-container-content-item">
        </div>
        <div class="top-playlists-container-content-item">
        </div>
        <div class="top-playlists-container-content-item">
        </div>
        <div class="top-playlists-container-content-item">
        </div>
    </div>
</div>