* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    position: relative;
    margin: 0;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

#application-container {
    display: flex;
    flex-direction: row;
    background: orange;
    height: 100%;
}

#navbar-container {
    background: red;
    height: 100%;
    width: 240px;
    padding-top: 160px;
    padding-left: 20px;
}


#cotent-container {
    margin-top: 120px;
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
}

#header-container {
    background: black;
    color: white;
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: flex-end;
    padding-right: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#header-container > a {
    color: white;
    text-decoration: none;
    background: red;
    margin-left: 20px;
    padding-top: 30px;
    width: 120px;
    text-align: center;
}

#footer-container {
    background: black;
    color: white;
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100%;
    justify-content: center;
    position: absolute;
}

#footer-container div a {
    color: white;
    text-decoration: none;
    background: red;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    text-align: left;
}


.footer-container-item {
    width: 200px;
    height: 100%;
    background: purple;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.content-container {
    display: flex;
    flex-direction: row;
    background: gray;
    height: 180px;
    align-items: center;
    padding-left: 40px;
}

.content-container-item {
    width: 140px;
    height: 140px;
    background: white;
    border-radius: 6px;
    margin-right: 20px;
    padding-top: 2px;
    padding-left: 10px;
    color: black;
}

