<div id="footer-container">
    <div class="footer-container-item">
        <h3 class="footer-container-header">Contact Us</h3>
        <p>Loudr</p>
        <p>123 Anywhere Street</p>
        <p>Lehi UT, 84043</p>
        <p>1-800-555-5555</p>
    </div>
    <div class="footer-container-item">
        <h3 class="footer-container-header">Our Company</h3>
        <p>Our Blog</p>
        <p>Search Page</p>
    </div>
    <div class="footer-container-item">
        <h3 class="footer-container-header">Information</h3>
        <p>Privacy</p>
        <p>FAWs</p>
    </div>
    <div class="footer-container-item">
        <h3 class="footer-container-header">Categories</h3>
        <p>Albums</p>
        <p>New Releases</p>
    </div>
</div>