<div id="footer-container">
    <div id="footer-container-logo" class="footer-container-item">
    </div>
    <div class="footer-container-item">
        <h3 class="footer-container-header">Company</h3>
    </div>
    <div class="footer-container-item">
        <h3 class="footer-container-header">Communities</h3>
        <% if for_creator_url? %>
            <%= link_to "For Users", root_path %>
        <% else %>
            <%= link_to "For Artists", landingcreator_path %>
        <% end %>
    </div>
    <div class="footer-container-item">
        <h3 class="footer-container-header">Useful Links</h3>
    </div>
</div>

