<div id="navbar-container">
    <div id="navbar-container-main-menu" class="navbar-container-section">
        <h2>Main Menu</h2>
        <div class="navbar-container-selection-item">
            <p>Home</p>
        </div>
        <div class="navbar-container-selection-item">
            <%= link_to 'Songs', songs_path %>
        </div>
        <div class="navbar-container-selection-item">
            <p>Albums</p>
        </div>
        <div class="navbar-container-selection-item">
            <p>Artists</p>
        </div>
        <div class="navbar-container-selection-item">
            <p>Music</p>
        </div>
        <div class="navbar-container-selection-item">
            <p>Podcasts</p>
        </div>
    </div>
    <div id="navbar-container-yours" class="navbar-container-section">
        <h2>Yours</h2>
        <div class="navbar-container-selection-item">
            <p>Favourite</p>
        </div>
        <div class="navbar-container-selection-item">
            <p>Play History</p>
        </div>
        <div class="navbar-container-selection-item">
            <p>Download Items</p>
        </div>
    </div>
</div>